# 6.1 读写文本格式的数据

![pandas中的解析函数](http://upload-images.jianshu.io/upload_images/7178691-958f849e6067b19b.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [35]:
!type examples\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [7]:
df = pd.read_csv('examples/ex1.csv')

In [8]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
pd.read_table('examples/ex1.csv', sep=',')

c:\program files (x86)\microsoft visual studio\shared\python36_64\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [34]:
!type examples\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [10]:
pd.read_csv('examples/ex2.csv', header=None)#分配默认的列名

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [11]:
pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])#自己定义列名

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [14]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('examples/ex2.csv', names=names, index_col='message')#参数names定义列名，参数index_col定义index名

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [33]:
!type examples\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [15]:
parsed = pd.read_csv('examples/csv_mindex.csv',
   ....:                      index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [17]:
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [19]:
result = pd.read_table('examples/ex3.txt', sep='\s+')#字段是被数量不同的空白字符间隔开的，可以用正则表达式表达为\s+
result

c:\program files (x86)\microsoft visual studio\shared\python36_64\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [32]:
!type examples\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [20]:
pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3])#用skiprows跳过文件的第一行、第三行和第四行

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [31]:
!type examples\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [21]:
result = pd.read_csv('examples/ex5.csv')
result#缺失数据经常是要么没有（空字符串），要么用某个标记值表示。默认情况下，pandas会用一组经常出现的标记值进行识别，比如NA及NULL

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [36]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [38]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('examples/ex5.csv', na_values=sentinels)#字典的各列可以使用不同的NA标记值

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

![pandas.read_csv和pandas.read_table常用的选项1](http://upload-images.jianshu.io/upload_images/7178691-082daf4a00ed9494.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)

![pandas.read_csv和pandas.read_table常用的选项2](http://upload-images.jianshu.io/upload_images/7178691-f2bcc0a703c7236f.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)

![pandas.read_csv和pandas.read_table常用的选项3](http://upload-images.jianshu.io/upload_images/7178691-597327ade3e94c7a.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)

## 逐块读取文本文件

In [42]:
pd.options.display.max_rows = 10 #最多显示10行

In [43]:
result = pd.read_csv('examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [44]:
pd.read_csv('examples/ex6.csv', nrows=5)#nrows参数控制读取参数

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [45]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)
chunker

In [46]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)#将文件分块处理，每块1000个元素

tot = pd.Series([])#创建空的Series
tot

Series([], dtype: float64)

In [47]:
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
    #计算每一块中每个‘key’出现的次数，在多次迭代中累加，还没出现的‘key’用0代替

tot = tot.sort_values(ascending=False)#按‘key’出现的频率降序排列

In [48]:
tot

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
     ...
5    157.0
2    152.0
0    151.0
9    150.0
1    146.0
Length: 36, dtype: float64

In [49]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

## 将数据写出到文本格式

In [3]:
data = pd.read_csv('examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [4]:
data.to_csv('examples/out.csv')#输出文本

In [5]:
!type examples\out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [6]:
import sys
data.to_csv(sys.stdout, sep='|')#输出到屏幕上，分隔符是'|'

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [7]:
data.to_csv(sys.stdout, na_rep='NULL')#参数na_rep设置缺失值的标记值

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [9]:
data.to_csv(sys.stdout, index=False, header=False)#不输出行和列的标签

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [10]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])#只写出一部分的列

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [11]:
dates = pd.date_range('1/1/2000', periods=7)#日期range
ts = pd.Series(np.arange(7), index=dates)#数字range
ts.to_csv('examples/tseries.csv')#Series输出
!type examples\tseries.csv

c:\program files (x86)\microsoft visual studio\shared\python36_64\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

## 处理分隔符格式

In [47]:
!type examples\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [45]:
import csv
f = open('examples/ex7.csv')

reader = csv.reader(f)

In [46]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [15]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))#读取文件到一个多行的列表中

In [16]:
header, values = lines[0], lines[1:]#将这些行分为标题行和数据行

In [18]:
values

[['1', '2', '3'], ['1', '2', '3']]

In [30]:
for i in zip(*values):
    print(i)

('1', '1')
('2', '2')
('3', '3')

In [17]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
#zip(*)相当于解压，将['1', '2', '3'], ['1', '2', '3']解压成('1', '1'), ('2', '2'),  ('3', '3')
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [36]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [37]:
reader = csv.reader(f, dialect=my_dialect)

In [38]:
for line in reader:
    print(line)

['a,"b","c"']
['1,"2","3"']
['1,"2","3"']

In [48]:
f = open('examples/ex7.csv')
reader = csv.reader(f, delimiter='|')

In [49]:
for line in reader:
    print(line)

['a,"b","c"']
['1,"2","3"']
['1,"2","3"']

![可用的选项（csv.Dialect的属性）及其功能](http://upload-images.jianshu.io/upload_images/7178691-7a1cee622459072b.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)

In [50]:
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

## JSON数据

In [2]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [3]:
import json
result = json.loads(obj)#将JSON字符串转换成Python格式
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [8]:
asjson = json.dumps(result)#将Python对象转换成JSON格式
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [54]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [4]:
!type examples\example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [5]:
data = pd.read_json('examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
print(data.to_json())#默认参数columns，样式为 {index -> {column -> value}}
print(data.to_json(orient='records'))#参数records，样式为[{column -> value}, … , {column -> value}]
print(data.to_json(orient='index'))#参数index ，样式为 {index -> {column -> value}}

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]
{"0":{"a":1,"b":2,"c":3},"1":{"a":4,"b":5,"c":6},"2":{"a":7,"b":8,"c":9}}

## XML和HTML：Web信息收集

In [60]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')
len(tables)
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [61]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

## 利用lxml.objectify解析XML

In [10]:
from lxml import objectify

path = 'datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()#通过getroot得到该XML文件的根节点的引用

In [63]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']#需要跳过的子节点

for elt in root.INDICATOR:#每个elt为一个样本，即DataFrame中的一行
    el_data = {}
    for child in elt.getchildren():#每个child为样本的子节点，子节点的名字也即columns名（列名）
        if child.tag in skip_fields:#child.tag是子节点的标签（列名）
            continue
        el_data[child.tag] = child.pyval#child.pyval提取值
    data.append(el_data)

In [64]:
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,5,2008,96.6,95

In [11]:
from io import StringIO#非XML文件，直接通过HTML的连接标签提取信息
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [12]:
root

In [14]:
root.get('href')

'http://www.google.com'

In [15]:
root.text

'Google'

# 6.2 二进制数据格式

In [67]:
frame = pd.read_csv('examples/ex1.csv')
frame
frame.to_pickle('examples/frame_pickle')

>注意：pickle仅建议用于短期存储格式。其原因是很难保证该格式永远是稳定的；今天pickle的对象可能无法被后续版本的库unpickle出来。虽然我尽力保证这种事情不会发生在pandas中，但是今后的某个时候说不定还是得“打破”该pickle格式。

In [68]:
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [70]:
!del examples\frame_pickle

## 使用HDF5格式

In [71]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

ImportError: HDFStore requires PyTables, "No module named 'tables'" problem importing

## 读取Microsoft Excel文件

In [77]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')

In [78]:
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [79]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [81]:
writer = pd.ExcelWriter('examples/ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

In [82]:
frame.to_excel('examples/ex2.xlsx')

In [83]:
!del examples\ex2.xlsx

# 6.3 Web APIs交互

In [84]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [85]:
data = resp.json()
data[0]['title']

'Using .loc.__setitem__ with integer slices does not raise'

In [86]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

,number,title,labels,state
0,26412,Using .loc.__setitem__ with integer slices doe...,[],open
1,26411,"Grouping, then resampling empty DataFrame lead...",[],open
2,26410,"API: getting the ""densified"" values of a Categ...","[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
3,26409,DEPR: deprecate get_values,[],open
4,26408,BUG: MultiIndex not dropping nan level and inv...,"[{'id': 2822342, 'node_id': 'MDU6TGFiZWwyODIyM...",open
5,26407,SparseArrays backed by other Extension array/d...,"[{'id': 849023693, 'node_id': 'MDU6TGFiZWw4NDk...",open
6,26406,BUG: to_numpy on categorical data with tz awar...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
7,26405,DEPR: deprecate Series/DataFrame.compound,"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
8,26404,Fix type annotations in pandas.core.indexes.da...,[],open
9,26403,DEPR: Deprecate ordered=None for CategoricalDtype,"[{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...",open
10,26400,ENH: Support multiple opening hours intervals ...,[],open
11,26399,ENH: Support nested renaming / selection,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
12,26398,Fix type annotations in pandas.core.resample,"[{'id': 74975453, 'node_id': 'MDU6TGFiZWw3NDk3...",open
13,26397,DataFrame.describe excludes top and freq for e...,[],open
14,26395,different type conversion results in assignmen...,"[{'id': 31404521, 'node_id': 'MDU6TGFiZWwzMTQw...",open
15,26394,BUG: to_numeric does not validate the errors k...,"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open
16,26393,Holiday based on the lunar calendar?,[],open
17,26392,[TEST] Add two more parameters to the test_dti...,"[{'id': 53181044, 'node_id': 'MDU6TGFiZWw1MzE4...",open
18,26391,[PERF] Get rid of MultiIndex conversion in Int...,"[{'id': 150096370, 'node_id': 'MDU6TGFiZWwxNTA...",open
19,26390,BUG: assigning Series.array / PandasArray to c...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
20,26389,Converting json to csv,"[{'id': 307649777, 'node_id': 'MDU6TGFiZWwzMDc...",open
21,26388,read_parquet S3 dir support,"[{'id': 685114413, 'node_id': 'MDU6TGFiZWw2ODU...",open
22,26385,GroupBy nth ignores observed keyword for Categ...,"[{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...",open
23,26383,Prefixed batch script commands with call,[],open
24,26381,BUG: error calculating BusinessHourMixin.apply...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
25,26380,ENH: Implementing NEP 18's __array_function__,[],open
26,26379,BUG: Series.combine_first with mixed timezones,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
27,26377,Fix type annotations in pandas.core.ops,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
28,26376,pd.read_fwf fails with file pointer to url,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
29,26374,BUG: ngroups and len(groups) do not equal when...,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open

# 6.4 数据库交互

In [87]:
import sqlite3
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata.sqlite')
con.execute(query)
con.commit()

In [88]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [89]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [90]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [92]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [95]:
!del mydata.sqlite

C:\Users\82594\Documents\GitHub\DataAnalysis\mydata.sqlite

另一个程序正在使用此文件，进程无法访问。